<div class="top">
  <img class="title-img" src="/assets/heather.jpg"/>
  <h1 class="title"><a href="/">Heather Nicole Robinson</a></h1>
  <p>Front-end Web Developer</p>
  <div class="nav">
    <a routerLink="/" routerLinkActive="active">HOME</a>
    <a href="https://www.linkedin.com/in/heathernrobinson/" target="_blank">LINKEDIN</a>
    <a routerLink="/social" routerLinkActive="active">SOCIAL</a>
    <a href="https://github.com/hnr2800/heather-fyi" target="_blank">GITHUB</a>
  </div>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>
