<h2>Education</h2>
<div>
	<p>
		<span class="bold">B.S. Computer Science,</span><br>
		Virginia Tech, Blacksburg, VA<br>
		Jul 2016 - Dec 2019<br>
		<span class="italic">Overall GPA: 3.7, In-Major GPA: 3.6</span>
	</p>
</div>
<div *ngIf="seeMoreEducation">
	<p class="no-bottom bold">Awards:</p>
	<ul class="no-top">
		<li>Dean’s List Fall 2016 - Spring 2019</li>
		<li>Member of the National Society of Collegiate Scholars</li>
		<li>Computer Science Resource Consortium (CSRC) Scholarship</li>
		<li>Corporate-Sponsored National Merit Scholarship</li>
		<li>Marvin L. Pollard & Lelia W. Pollard Engineering Scholarship</li>
	</ul>
</div>
<button class="see-more" (click)="seeMoreEducation = !seeMoreEducation">
	{{ seeMoreEducation ? 'SEE LESS': 'SEE MORE' }}
</button>


<h2>Technical Skills</h2>
<div class="chips-container">
	<div *ngFor="let skill of skills" class="chip">{{ skill }}</div>
</div>


<h2>Experience</h2>
<div *ngFor="let job of experience" class="experience-content">
	<h3>{{ job.title }}</h3>
	<div class="chips-container">
		<div class="chip">
			<mat-icon>business_center</mat-icon>
			{{ job.company }}
		</div>
		<div class="chip">
			<mat-icon>location_on</mat-icon>
			{{ job.location }}
		</div>
		<div class="chip">
			<mat-icon>calendar_today</mat-icon>
			{{ job.date }}
		</div>
	</div>
	<p>{{ job.description }}</p>
</div>
<ng-container *ngIf="seeMoreExperience">
	<div *ngFor="let job of moreExperience" class="experience-content">
		<h3>{{ job.title }}</h3>
		<div class="chips-container">
			<div class="chip">
				<mat-icon>business_center</mat-icon>
				{{ job.company }}
			</div>
			<div class="chip">
				<mat-icon>location_on</mat-icon>
				{{ job.location }}
			</div>
			<div class="chip">
				<mat-icon>calendar_today</mat-icon>
				{{ job.date }}
			</div>
		</div>
		<p>{{ job.description }}</p>
	</div>
</ng-container>
<button class="see-more" (click)="seeMoreExperience = !seeMoreExperience">
	{{ seeMoreExperience ? 'SEE LESS': 'SEE MORE' }}
</button>