@import url('https://fonts.googleapis.com/css?family=Inconsolata|Roboto:400,400i,700,900&display=swap');
@import url('../node_modules/@angular/material/prebuilt-themes/indigo-pink.css');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/*TODO: add dark mode switch*/

// fonts
$inconsolata: 'Inconsolata', monospace;
$roboto: 'Roboto', sans-serif;

// colors
$blue: #6981ff;
$pink: #ff386f;
$yellow: #fff336;
$black: #000000;
$white: #fff;

.top {
	font-family: $inconsolata;
	text-align: center;
	padding: 48px;

	.nav {
		text-align: center;

		a {
			margin: 12px;
			padding: 4px;
			text-decoration: none;
			font-family: $inconsolata;
			letter-spacing: 1.25px;
			color: $pink;

			&:hover {
				color: $black;
				background-color: $yellow;
			}
		}
	}

	.title, .title a {
		color: $blue;
		font-family: $inconsolata;
		text-align: center;
		text-decoration: none;
		letter-spacing: 4px;
		margin-bottom: 16px;
		font-size: 26px;

		&:hover {
			text-decoration: underline;
		}
	}

	.title-img {
		border-radius: 100px;
		height: 100px;
		width: 100px;
		display: block;
	 	margin-left: auto;
	  	margin-right: auto;
		-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	  	filter: grayscale(100%);
	  	transition-property: filter;
	  	transition-duration: 1s;

	  	&:hover {
	  		filter: grayscale(0%);
	  	}
	}
}

.content {
	// padding: 48px 200px;
	width: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-family: $roboto;

	.bold {
		font-weight: 700;
	}

	button.see-more {
		font: 16px $inconsolata;
		color: $pink;
		background-color: none;
		border: none;
		padding: 4px;
		margin: 0;
		letter-spacing: 1.25px;
		cursor: pointer;

		&:hover {
			color: $blue;
			text-decoration: underline;
		}
	}

	.chips-container {
		display: flex;
		flex-wrap: wrap;
		width: 100%;

		.chip {
			padding: 4px 13px;
		    border: 1px solid #ddd;
		    height: fit-content;
		    margin-right: 10px;
		    margin-bottom: 6px;
		    border-radius: 28px;
		    font-size: 14.5px;
		}
	}

	.experience-content {
		.chip {
			padding: 4px 13px;
			padding-left: 10px;
			font-size: 14.5px;
		}

		h3 {
			margin-bottom: 8px;
			margin-top: 36px;
		}

		.material-icons {
			font-size: 16px;
		}

		.mat-icon {
			height: 16px;
			width: 16px;
			vertical-align: middle;
			padding-right: 4px;
			line-height: 15px;
		}

		p {
			margin-top: 0;
			margin-bottom: 8px;
		}
	}

	h2 {
		font-family: $inconsolata;
		padding: 4px;
		background-color: $yellow;
		width: fit-content;
		margin-top: 36px;
	}

	h3 {
		font-family: $inconsolata;
	}

	.italic {
		font-style: italic;
	}

	p, ul, li {
		font-family: $roboto;
	}

	.no-bottom {
		margin-bottom: 0;
	}

	.no-top {
		margin-top: 0;
	}

	.social {
		display: flex;
		flex-direction: column;

		a.social-link {
			width: 100%;
			border: none;
			margin: 8px 0;
			padding: 8px;
			text-align: left;
			cursor: pointer;
			color: $black;
			text-decoration: none;

			img {
				height: 36px;
				width: 36px;
				margin-right: 8px;
				vertical-align: middle;
			}

			p {
				font-size: 18px;
				margin: 0;
				line-height: 36px;
				font-family: $inconsolata;
				letter-spacing: 1px;
			}
			&:hover {
				background: $yellow;
			}
		}

		.icons-credit {
			text-align: center;
			margin-top: 48px;

			a {
				color: $pink;
				text-decoration: none;

				&:hover {
					color: $blue;
					text-decoration: underline;
				}
			}
		}
	}
}